# git ls-files --others --exclude-from=.git/info/exclude

*

!.bashrc
!.profile
!.bash_aliases
!.dir_colors
!.inputrc

!.kermrc
!.screen/
!.screenrc

!.gitconfig
!.gitignore

!.indent.pro

!.vim/_vimrc
!.vimrc

!.i18n
!.locale

!.fonts.conf
!.fonts/fonts.conf

!.ssh/config

!.sign/

!.hgrc
!.hgsubs

!bin/errno
!bin/signo

!.pinforc

!.colorgcc
!.colordiffrc

